.footerContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.footerImg{
    width:35px;
}

.elementP{
    font-size: 10px;
    color:#7b7e80;
    font-family: Roboto;
    margin: 0;
    display: block;
}

.footerElementContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}